<html>
<body>
    <head>
            <link rel="stylesheet" href="styles.css">
    </head>
    <a href="/">Home</a>
    <a href="/newtask">Add New Tasks</a>
    <a href="/listtasks">List All Tasks</a>
    <a href="/deletecompleted">Delete Completed Tasks</a>
    <a href="/updatetask">Update Task Status</a>
    <a href="/findNotTomorrow">Extra Task</a>
    <br>
    <br>
    <form action="/deletetask" method="POST">
        Task to Delete
        <input type="text" name="tasktodelete" /> </br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>