<html>
    <head>
            <link rel="stylesheet" href="styles.css">
    </head>
<body>
    <img src="untitled.jpg" width="500">
    <br>
    <a href="/newdeveloper">Add New Developer</a><br>
    <a href="/listdevelopers">List All Developers</a><br>
    <a href="/newtask">Add New Tasks</a><br>
    <a href="/listtasks">List All Tasks</a><br>
    <a href="/deletetask">Delete Task</a><br>
    <a href="/deletecompleted">Delete Completed Tasks</a><br>
    <a href="/updatetask">Update Task Status</a><br>
    <a href="/findNotTomorrow">Extra Task</a>
</body>
</html>