<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
        <a href="/">Home</a><br>
        <a href="/newdeveloper">Add New Developer</a><br>
        <a href="/newtask">Add New Tasks</a><br>
        <a href="/listtasks">List All Tasks</a><br>
        <a href="/deletetask">Delete Task</a><br>
        <a href="/deletecompleted">Delete Completed Tasks</a><br>
        <a href="/updatetask">Update Task Status</a><br>
        
        <br>
        <br>
        <table>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Level</td>
                <td>Address</td>
            </tr>
            <% for (let i =0; i< db.length; i++){ %>
                <tr>
                    <td>
                        <%= db[i]._id %>
                    </td>
                    <td>
                        <%= db[i].name.firstName %> <%= db[i].name.lastName %> 
                    </td>
                    <td>
                        <%= db[i].level %>
                    </td>
                    <td>
                        <%= db[i].address.unit %> <%= db[i].address.street %> <%= db[i].address.suburb %> <%= db[i].address.state %> 
                    </td>
                </tr>
                <% }%>
</body>
</html>