<html>
<body>
    <head>
            <link rel="stylesheet" href="styles.css">
    </head>
    <a href="/">Home</a>
    <a href="/listtasks">List All Tasks</a>
    <br>
    <br>
    <form action="/newtask" method="POST">
        Task Name
        <input type="text" name="taskname" /> </br>
        Task Due
        <input type="text" name="taskdue" /> </br>
        Task Desc
        <input type="text" name="taskdesc" /> </br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>